@font-face {
    font-family: Pathway;
    src: url("../fonts/PathwayGothicOne-Regular.ttf") ;
}
body{
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}
.fade{
    position: relative;
    width: 100%;
    min-height:60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
.star-wars{
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    font-family: Pathway;
}
.text-first-part{
    margin-bottom: 100px;
    text-transform: uppercase;
}
.text-second-part{
    text-transform: uppercase;
}
.crawl{
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 30s linear infinite;
}
.crawl > .title{
    font-size: 90%;
    text-align: center;
}
.crawl > .title h2 {
    margin: 0 0 100px;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 600;
}
@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}